*{
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(51, 0, 0);
  max-width: 64em;
  margin: 0 auto;
}
h1{
  text-align: center;
}
nav ul{
  display: flex;
  list-style-type: none;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
nav li{
    background-color: orange;
    padding:.5em .75em;
    border-radius: .25em;
    margin-left: .5em;
}
nav a{
    text-decoration: none;
    color:black;
}
nav li a:hover{
    color:white;
}
nav li:hover{
  background-color: #2db2c4;
}
